.search {
  margin: 1.5rem auto;
  width: 70%;
  max-width: 400px;
  display: flex;
  justify-content: center;
}
.searchIcon{
  display: inline;
  color: var(--purple);
  padding: 0.5rem;
}

.searchInputs input{
  padding: 1rem;
}

.u-section {
  max-width: 1920px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  justify-content: center;
  gap: 30px;
}

/* media querry */

.u-cont-info {  
  margin: 1.5rem auto;
  padding: 1rem;
  width: 350px;
  border-radius: 20px;
  border: 1px solid var(--purple);
  box-shadow: 5px 5px 4px rgba(20, 94, 140, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.u-trademark {
  padding: 5px 0;
  font-weight: bold;
  color: var(--purple);
}

.u-infop{
  padding-left: 15px;
  padding-bottom: 5px;
}

.u-info{
  padding-left: 3px;
}

.u-cont-info-bottom {
  text-align: center;
  margin-top: 3px;
}

.u-cont-info-bottom button {
  margin: 0 0.5rem;
}