.footer-container {
  position: fixed;
  bottom: 0;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  padding: 18px 10px;
  width: 98vw;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  color: #FFFFFF;
  background-color: #5148B6;
}

.footer-container a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 10px;
}