.main {
  margin-bottom: 100px;
}

.global-container{
  height: 80vh;
}

.global-content{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  font-size: 1.3rem;
}

.photo {
  padding: 20px;
  margin: auto;
  width: 100%;
}

.btn-link a {
  padding: 10px;
  text-decoration: none;
  background-color: var(--purple);
  color: var(--blank);
  border-radius: 20px;
}

.btn-link a:hover {
  background-color: var(--grey);
  color: var(--purple);
  font-weight: bold;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: start;

}
