
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,700&display=swap');

:root {
  --blank: #FFFFFF;
  --grey: #C4C4C4;
  --purple: #5148B6;
}

* {
  padding:0;
  margin:0;
  box-sizing: border-box;
  max-width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

button:hover {
  cursor: pointer;
}

input, textarea, select {
  outline: none;
}